.hoverable-link {
    cursor: pointer;
}

body {
    background-image: url("mountaineers.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-position: v-bind();
}

.container {
    background-color: rgba(123, 214, 110, 0.67);
    border-radius: 25px;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid;
    border-color: #0c7f3c;
}

.card {
    background-color: rgba(123, 214, 110, 0.67);
    margin: 5px 15px 5px 15px;
}

a {
    color: #103214;
    font-weight: bold;
}

#customBlack {
    color: #103214;
}